body{
    font-size: 20px;
    text-align: center;
}
.name {
    text-align: center;
    background-color: cadetblue;
    color: aliceblue;
    padding: 1px;
    margin: 20px;
    border: 10px double aliceblue;
}
button {
    background-color: cadetblue;
    color: aliceblue;
    padding: 20px;
    font-size: 20px;
    margin: 10px;
    border: 10px outset #0D8386;
}
.submit:disabled {
    background-color: gray;
}
button:hover {
    box-shadow: 10px 10px 20px #06123A;
}
#guess {
    width: 25%;
    height: 50px;
    font-size: 50px;
    text-align: center;
    margin: 5px;
}

#answer, #banswer, #wanswer{
    position: relative;
    background: cadetblue;
    max-width: 50%;
    line-height: 50px;
    margin: auto;
    border: 10px double white;
    color: white;
    font-size: 40px;
}

.bw {
    max-width: 75%;
    text-align: center;
    background-color: cadetblue;
    color: aliceblue;
    padding: 1px;
    margin: auto;
    border: 10px double aliceblue;
}